@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Sarala:wght@400;700&display=swap');

/* Set custom variables here */
:root{
  --custom-variables:#ffffff ;
  --primary-bg-color:green;


  /* Text Size */
  --heading-font-size:2.5rem;
  --paragraph-font-size:1rem;



  /* Buttons */
  --button-primary-bg:rgb(33, 75, 33);
  --button-primary-text: white;
  --button-secondary-bg:rgb(33, 75, 33);
  --button-secondary-text: white;

}




.navbar-brand{
  color: #F6F3ED;
  padding-top: 75px;
  
  
}

.logo{
margin-left: 200px;
   
}


body {
  font-family: "Sarala", sans-serif;
}

h1, h2, h3 {
  font-family: "Merriweather", serif;
}

h1{
  font-size: var(--heading-font-size);
  margin-left: 150px;
  margin-right:20px;
  text-align: center;
  padding-left: 250px;
  padding-right: 400px;
  padding-top: 90px;

}

.p-primary{
  font-size: var(--paragraph-font-size);
  margin-left: 200px;
  margin-right:20px;
  text-align: center;
  padding-left: 250px;
  padding-right: 400px;
}




#hero {
  height: 800px;
  background-color: #E4E6DB;
  background-image: url(../images/hero-bg-img.png);
  background-repeat:no-repeat;
  background-position: center;
  background-size:cover;
 
}

#hero .d-flex {
  height: 800px;
}


.btn-primary {
  background-color: var(--button-primary-bg);
  color: var(--button-primary-text);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px; 
}

.button-container{
  display: flex;
  justify-content: center; 
}

.btn-secondary{
  background-color: var(--button-primary-bg);
  color: var(--button-primary-text);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px; 
}

.secondary-button-container{
    display: flex;
    justify-content: center; 
    margin-top: 70px;

}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  text-align: center;
  justify-content:center ;
  margin-top:90px;
}

.grid-element-1 {
  grid-column: 1;
}

.grid-element-2 {
  grid-column: 2;
}

.grid-element-3 {
  grid-column: 3;
}


.intro{
  text-align: center;
  margin-left: 280px;
  margin-right: 280px;
}

.family{
  height: 450px;
  object-fit:cover;
  padding-left: 100px;
  

}
.smart{
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style:none;

}

.second-intro{
  text-align: center;
  margin-bottom: 50px;
}

.list{
  list-style:none;
  padding-left: 0;
  margin-right: 70px;
}

.customers-intro{
  color:white;
  text-align: center;
  padding-top: 70px;
  margin-bottom: 50px;

}

.customer-container{
  height: 500px;
  background-color: rgb(45, 67, 45);
  padding-bottom: 0;
 
}
.customer{
  border-radius: 50%;
  margin-bottom: 20px;
}


.customers{
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 30px; 
  text-align: center;
  justify-content:center ;
  margin-left: 200px;
  margin-right: 200px;
  padding-left: 60px;
  padding-right: 60px;

}
.blockquote{
  margin-bottom: 0;
}

.figcaption{
  font-size: small;
    color: white; /* Set a custom color */
    text-align: center; /* Center-align the text */
    padding-top: 0;
    margin-top: 0;
}


.questions{
  text-align: center;
  margin-bottom: 70px;
}

.accordion{
  justify-content: center;
  text-align: center;
  margin-left: 300px;
  margin-right: 300px;

}


#cta {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/cta-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#cta .d-flex {
  height: 400px;
}

section:not(#hero):not(#cta){
  padding: 60px 0;
}

@media(min-width: 993px){
  section:not(#hero):not(#cta){
    padding: 100px 0;
  }
}