@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Sarala:wght@400;700&display=swap');

/* Set custom variables here */
:root{
  --custom-variables:#ffffff ;
  --primary-bg-color:green;


  /* Text Size */
  --heading-font-size:2.5rem;
  --paragraph-font-size:1rem;
 


  /* Buttons */
  --button-primary-bg:rgb(37, 74, 37);
  --button-primary-text: white;
}




.navbar-brand{
  color: #F6F3ED;
  padding-top: 75px;
  
  
}

.logo{
margin-left: 200px;
   
}


body {
  font-family: "Sarala", sans-serif;
}

h1, h2, h3 {
  font-family: "Merriweather", serif;
}

h1{
  font-size: var(--heading-font-size);
  margin-left: 150px;
  margin-right:20px;
  text-align: center;
  padding-left: 250px;
  padding-right: 400px;
  padding-top: 90px;

}

.p-primary{
  font-size: var(--paragraph-font-size);
  margin-left: 200px;
  margin-right:20px;
  text-align: center;
  padding-left: 250px;
  padding-right: 400px;
}




#hero {
  height: 800px;
  background-color: #E4E6DB;
  background-image: url(../images/hero-bg-img.png);
  background-repeat:no-repeat;
  background-position: center;
  background-size:cover;
 
}

#hero .d-flex {
  height: 800px;
}


.btn-primary {
  background-color: var(--button-primary-bg);
  color: var(--button-primary-text);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px; 
}

.button-container{
  display: flex;
  justify-content: center; 
}


#cta {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/cta-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#cta .d-flex {
  height: 400px;
}

section:not(#hero):not(#cta){
  padding: 60px 0;
}

@media(min-width: 993px){
  section:not(#hero):not(#cta){
    padding: 100px 0;
  }
}